In [7]:
# Dependencies
import matplotlib.pyplot as plt
import requests
import csv
from scipy import stats
import pandas as pd
from config import api_key

In [8]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL
base_url = f"{url}appid={api_key}&units={units}&q="

In [9]:
# List of cities
cities = ["Paris", "London", "Barcelona", "Beijing", "Mumbai", "Tokyo", "New York", "Seattle", "Dallas", "Sydney","Melbourne", "Cairo","Johannesburg", "Lagos" , "Sao Paulo", "Buenos Aires","Bogota"]

# set up lists to hold reponse info
lat = []
lon= []
temp = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    response = requests.get(base_url + city).json()
    lat.append(response['coord']['lat'])
    temp.append(response['main']['temp'])
    lon.append(response['coord']['lon'])

print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {lon}")

The latitude information received is: [48.8534, 51.5085, 41.3888, 39.9075, 19.0144, 35.6895, 40.7143, 47.6062, 32.7668, -33.8679, 28.0836, 30.0626, -26.2023, 6.5833, -23.5475, -34.6132, 4.6097]
The temperature information received is: [2.3488, -0.1257, 2.159, 116.3972, 72.8479, 139.6917, -74.006, -122.3321, -96.7836, 151.2073, -80.6081, 31.2497, 28.0436, 3.75, -46.6361, -58.3772, -74.0817]

In [10]:
# create a data frame from cities, lat, and temp
city_dict = {
    "city": cities,
    "lat": lat,
    "lon": lon
}
city_data = pd.DataFrame(city_dict)
city_data

            city      lat       lon
0          Paris  48.8534    2.3488
1         London  51.5085   -0.1257
2      Barcelona  41.3888    2.1590
3        Beijing  39.9075  116.3972
4         Mumbai  19.0144   72.8479
5          Tokyo  35.6895  139.6917
6       New York  40.7143  -74.0060
7        Seattle  47.6062 -122.3321
8         Dallas  32.7668  -96.7836
9         Sydney -33.8679  151.2073
10     Melbourne  28.0836  -80.6081
11         Cairo  30.0626   31.2497
12  Johannesburg -26.2023   28.0436
13         Lagos   6.5833    3.7500
14     Sao Paulo -23.5475  -46.6361
15  Buenos Aires -34.6132  -58.3772
16        Bogota   4.6097  -74.0817

In [11]:

# Save the DataFrame to a CSV file
csv_file_path = 'city_coordinates.csv'
city_data.to_csv(csv_file_path, index=False)